{% extends 'blog/base.html' %}

{% block content %}
		
		<div>
		<h2>{{ post.title }}</h2>
		<div><!--点赞-->
		<p>点赞{{ vote1 }}<a class="thumb" href="{% url 'blog:vote' pk=post.pk %}"><span class="glyphicon glyphicon-thumbs-up"></span></a></p>
		</div>
		<br/>

		<div class="post">
		{% if post.published_date %}<!--发布的post_list-->
			<div class="date">


				{% if post.author == request.user  %}

					{{ post.published_date}}
					<a href="{% url 'blog:post_remove' pk=post.pk %}">删除</a>
					<a	href="{%	url	'blog:post_edit'	pk=post.pk	%}">编辑</a>
					<br/>
				{% else %}
            	<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        		{% endif %}
        		

		{% else %}<!--draft_list-->

				
				{% if post.author == request.user  %}
					<a href="{% url 'blog:post_publish' pk=post.pk %}" >Publish</a>
					<a href="{% url 'blog:post_remove_draft' pk=post.pk %}">删除</a>
				{% endif %}
			
			</div>
		{% endif %}
		</div>
		<p>作者：{{ post.author }}</p>
		<p>{{ post.text|linebreaksbr }}</p>
		</div>

		{% if user.is_authenticated and post.published_date %}<!--评论-->
        	<p> <a href="{% url 'blog:add_comment_to_post' pk=post.pk %}">comment</a></p>
        {% endif %}
		
		<hr/>

		{% for comment in post.comments.all %}
			{% if post.author == request.user or comment.author2 == request.user %}
			<div class="comment">
			    <div class="date">
			    {{ comment.published_date1 }}
			    <a  href="{% url 'blog:comment_remove' pk=comment.pk %}">删除</a>
				</div>
			</div>
            {% endif %}
			
			    <strong>评论员：{{ comment.author2 }}</strong>
			    <p>内容：{{ comment.talk|linebreaks }}</p>
			
				<hr/>
		    	
		{% empty %}
		    <p>No comments here yet :(</p>
		{% endfor %}

		

{% endblock %}